/* ///////////////COULEUER */
:root{
	--couleurPrincipale: hsla(44, 100%, 50%, 0.82);
	--couleurSecondaire: rgb(17, 188, 211);
}

body{
	font-family: system-ui;
	/* background: var(--couleurPrincipale); */
	/* color: color-mix(in srgb, var(--couleurPrincipale) 30%, white 70%); */
}
h1{
	font-size: 8vw;
}
